.container{
    display: grid;
    height: 150vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "nav nav nav nav"
    "leftsidebar  main main rightsidebar"
    "footer footer footer footer";
    grid-gap: 2px;
    text-align: center;
    
}
nav{
    grid-area: nav;
    background-color: orangered;
    border-radius: 10px;
    height: 10vh;
}
main{
    grid-area: main;
    background-color: brown;
    border-radius: 10px;
    height: 80vh;
    padding-top: 1px;
}
img{
    height: 150px;
    width: 140px;
    border-radius: 40px;
}
.leftsidebar{
    grid-area: leftsidebar;
    background-color: blue;
    height: 80vh;
}
.rightsidebar{
    grid-area: rightsidebar;
    background-color: darkgreen;
    height: 80vh;
}
footer{
    grid-area: footer;
    background-color: orange;
}